<!DOCTYPE html >
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>SharePoint Vanilla Boilerplate</title>
		</head>
		<body id="root">

<div class="main-content">
	
	<div class="item__">
		<h2 class="item__title">Item title</h2>
		<p>Hello, I am an item</p>
	</div>
	<div class="border-container">
		<span class="fa fa-close"></span>font-awesome linked
	</div>
</div>
</body>

</html>

